name: Integration Test

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      build_all: false

  integration-test:
    needs: build
    uses: ./.github/workflows/integration-test.yml
